.template {
    display: none;
}

/** Zones **/

.zone {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 128px 128px;
    display: inline-block;
    width: 128px;
    height: 128px;
}

.zone-1 {
    background-image: url("/media/zone_1.png");
}
.zone-2 {
    background-image: url("/media/zone_2.png");
}
.zone-3 {
    background-image: url("/media/zone_3.png");
}

/** Modes **/

.mode {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
}


.mode-normal {
    background-image: url("/media/mode_normal_off.png");
}
.mode-normal.active {
    background-image: url("/media/mode_normal_on.png");
}

.mode-eco {
    background-image: url("/media/mode_eco_off.png");
}
.mode-eco.active {
    background-image: url("/media/mode_eco_on.png");
}

.mode-freeze {
    background-image: url("/media/mode_freeze_off.png");
}
.mode-freeze.active {
    background-image: url("/media/mode_freeze_on.png");
}

.mode-zero {
    background-image: url("/media/mode_zero_off.png");
}
.mode-zero.active {
    background-image: url("/media/mode_zero_on.png");
}

